.section-steps{
    padding-top: 40px;
    background-color: rgb(235, 235, 235);
}
.app-screen{ width: 40%; }
.steps-box:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}
.steps-box:last-child{
    text-align: left;
    padding-left: 3%;
    margin-top: 75px;
}
.work-steps{ margin-bottom: 50px; }
.work-steps:last-of-type{ margin-bottom: 80px; }
.work-steps div{
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}
.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}