.section-plans {
    background-color: rgb(235, 235, 235);
}
.plan-box{
    background-color: white;
    width: 90%;
    margin-left: 5%;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.plan-box div:first-child{
    background-color: lightgray;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.plan-box div:last-child {
    text-align: center;
    border: 0;
}
.plan-box div {
    padding: 15px;
    border-bottom: 1px solid lightgray;
}
.plan-box h3{
    text-align: center;
}
.plan-price{
    font-size: 200%;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 100;
    color: #df883d;
}
.plan-price span {
    font-size: 50%;
    font-weight: 300;
}
.plan-price-meal{
    font-size: 80%;
    text-align: center;
}
.plan-box ul {
    list-style: none;
}
.plan-box ul li{
    padding: 5px 0;
}